.static
{
    position: static;
    background: pink;
}

.relative
{
    position: relative;
    background: green;
    top: 20px;
    left: 20px;
}

.fixed
{
    position: fixed;
    background: red;
    top: 10px;
    right: 10px;
}

.sticky
{
    position: sticky;
    background: grey;
    top: 0;
}


.absolute
{
    position: sticky;
    background: orange;
    top: 50px;
    left: 50px;
}