.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
body
{
    background-color: #b3c2c67d;
    height: 1500px;
    margin: 0px;
    padding: 0px
}
.loginForm{
    display: flex;  
    background-color: white;
    margin: 0px 650px;
    height: 400px;
    border-radius: 10px;
}
.login h1{
    font-weight: 50;
    font-family: Arial;
    margin-top: 30px;
    font-size: 12;
}

.login{
    display: flex;  

    justify-content: center;
    height: 400px;
    border-radius: 10px;
}


.email{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    
}