.mainbox{
    border: 5px solid black;
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction:row;
    flex-flow:initial;
    
}
.subbox{
    border: 4px solid rgba(255, 136, 0, 0.356);
    background-color: rgba(255, 166, 0, 0.993);
    height: 55px;
    width: 50px;
    border-radius: 5px;
    margin: 0px 0px 3px;
   /* flex -----------*/ 
   display: flex;
   flex-wrap: wrap;
   margin: 2px;
   
}
h1{
    padding: 0px 15px 0px ;
    
}